<nav>
  <div class='logo'>
    <%= link_to 'MOVE', root_path, class: 'm-logo' %>
    <%= link_to 'All Courses', courses_path, class: 'all-courses' %>
  </div>
  <div class='main-nav-links'>
    <ul>
      <li><%= link_to 'Sign In', new_user_session_path, class: 'signin' %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path, class: 'signup' %></li>
    </ul>
  </div>
  <div class='mobile-nav'>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
  </div>
</nav>