$move-orange: #FF8013;
$move-bg: #636666;

.bg-course-items {
  background: $move-bg;
}

.course-item {
  width: 40%;
  height: auto;
  margin: 0 auto;
  min-width: 353.59px;
  max-width: 398.39px;
  margin-top: 2px;
  background: white;
  padding: 16px;
}

.course-item h2 {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 9px;
  text-align: center;
  overflow-wrap: break-word;
  a {
    display: block;
    font-size: 16px;
    margin-left: 4.5%;
    position: relative;
    top: -3px;
    color: $move-orange;
  }
}

.course-img {
  max-width: 400px;
  width: 100%;
  height: auto;
  float: left;
}

.course-description {
  display: flex;
  flex-direction: row;
  overflow-wrap: break-word;
  height: auto;
  text-align: center;
  width: 100%;
  p {
    display: inline;
    position: relative;
    top: 10px;
    font-size: 0.813em;
  }
}

.select-course-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cost-sec {
  margin-left: 27%;
}

.cost {
  margin-left: 45%;
}

.lesson-vid {
  position: relative;
  top: 85px;
  height: auto;
  max-width: 870px !important;
  h1 {
    padding: 0;
    margin: 0;
    margin-left: -1;
    font-size: 20px;
  }
}

/*    Course Queries    */

@media (max-width: 666px) and (min-width: 400px) {
  
  .course-item {
    width: 100%;
    h2 {
      text-align: center;
    }
  }
    
    .course-img {
      width: 100%;
      height: auto;
      max-width: 654px;
      margin-bottom: 15px;
      margin-left: 0;
      padding: 17px;
    }
    
    .cost-sec {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0;
    }
    
    .cost {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0;
      b {
        position: relative;
        bottom: 16px;
      }
    }

  .course-description {
    width: 100%;
    p {
      position: relative;
      bottom: 16px;
      width: 100%;
      text-align: center;
      padding: 10px;
      margin-left: 0;
      margin-top: -26px;
    }
    
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    position: relative;
    bottom: 15px;
  }
  
  .cost-sec b {
    position: relative;
    left: 37%;
    bottom: 15px;
  }
}

@media (max-width: 417px) {
  
   .select-course-content {
    padding-top: 9px;
    padding-bottom: 2px;
  }
  
}