html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#flex-content-container {
    flex: 1;
}

footer {
    padding: 10px 0;
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: #29303B;
    font-family: "Helvetica Neue", Helvetica;
    color: #fff;
}

footer b {
  color: #F97F51;
}

footer a {
    color: #fff;
    font-weight: 100;
    font-size: 14px;
}

footer span {
  font-size: 14px;
}

footer .fa-facebook-square {
  font-size: 20px;
}

footer .fa-twitter-square {
  font-size: 20px;
}

footer .fa-github-square {
  font-size: 20px;
}


.all-courses {
  position: relative;
  top: 14px;
  left: 6px;
  font-size: 14px;
  color: #F97F51;
  font-family: 'Roboto', sans-serif;
}


.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 16px;
  line-height: inherit;
  white-space: nowrap;
}

.curriculum {
  margin-left: 60px;
}

.curriculum h2 {
  margin: 40px 0 10px 0;
}

.footer-content {
  padding: 10px;
}