@import "bootstrap";
@import "font-awesome";

body {

  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.navbar {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.0);
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #fff;
}

.hero {
    background:linear-gradient(-90deg,rgba(0,0,0,1.3),rgba(255,255,255,0.3)),url('hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 60vh;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  background: #38ada9;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 20px;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.right {
  float: right;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.clr {
  clear: both;
}

/*-----------------------
        Button
-----------------------*/

.btn {
  border-radius: 0;
  margin: 10px;
}


.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.course_image {
  width: 20%;
  height: 100px;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding: 10px 0px;
  font-weight: 100;
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}

.description-box {
  padding: 70px;
}

.splash-description {
  font-size: 1.2em;
}

.search-form {
  padding-top: 10%;
  padding-left: 26%;
  position: relative;
  left: 450px;
}


.search-form input[type=text], select {
  width: 42%;
  height: 40px;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 100px;
  position: relative;
}

input[type=text] {
  padding-left: 13px;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 18px;
  color: #576574;
}

::placeholder {
  color: #576574;
  font-size: 16px;
}


.content-section {
  margin-top: 10px;
}

.mission {
    font-size: 15px;
    padding-left: 14px;
    padding-bottom: 6px;
    position: relative;
    top: 101px;
    font-family: 'century gothic';
    color: #e67e22;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.navbar-brand {
    display: inline-block;
    position: relative;
    top: 3px;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 28px;
    line-height: inherit;
    white-space: nowrap;
}

.content-section .fa-book {
  font-size: 38px;
  color: #F97F51;
}


.content-section .fa-space-shuttle {
  font-size: 38px;
  color: #F97F51;
}

.content-section .fa-comments {
  font-size: 38px;
  color: #F97F51;
}

.fa {
  margin-bottom: 30px;
}

.navbar-nav .nav-item .nav-link {
  color: #F97F51;
}

.navbar-nav {
  margin-top: 5px;
}

.search-form .fa-search {
    position: relative;
    top: 157px;
    left: 173px;
    z-index: 1;
}

.course-img {
  width: 210px;
  height: 118px;
  float: left;
  margin-bottom: 20px;
}

.course-item {
  border-bottom: 1px lightgrey solid;
}

.course-title {
  float: left;
  clear: both;
}


.vjs-big-play-centered {
  width: 200px;
}