@import "bootstrap";
@import "font-awesome";

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul .header {
  font-size: 1.563em;
}

ul .header .fa {
  font-size: 1.250em;
}

.hero {
    background:linear-gradient(-90deg,rgba(0,0,0,1.3),rgba(255,255,255,0.3)),url('hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 85vh;
    position: relative;
    display: block;
}

.feature {
  width: 100%;
  background: #38ada9;
}

.booyah-box {
  -moz-box-shadow: 0.063em 0.063em 0.125em 0 #d0d0d0;
  -webkit-box-shadow: 0.063em 0.063em 0.125em 0 #d0d0d0;
  box-shadow: 0.063em 0.063em 0.125em 0 #d0d0d0;
  background: #fff;
  border: 0.063em solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 1.250em;
  margin: 0 auto;
  width: 80%;
}

.booyah-box h2, .booyah-box h1 {
  margin: 0.625em;
}

.section {
  border: 0.063em solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 1.250em;
  width: 57%;
  margin-bottom: 0.375em !important;

}

.clr {
  
  clear: both;
}

/*-----------------------
        Button
-----------------------*/

.btn {
  border-radius: 0;
  margin: 0.625em;
}

.section-li {
  border: 0.063em solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 1.250em;
  margin: 1.250em;
}

.lessons li {
  background: black;
  color: white;
  margin: 0.625em;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 0.500em;
  font-size: 0.938em;
}

.lessons li b {
  font-size: 1.563em;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}


ul .header {
  font-size: 1.563em;
}

ul .header .fa {
  font-size: 1.250em;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 6.250em;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding: 0.625em 0.625em;
  font-weight: 100;
}

.social-button {
  margin: 0.250em;
}

.social a:hover {
  text-decoration: none;
}

.description-box {
  padding: 4.375em;
  background: #fff;
}

.middle {
  background: #fff;
}

.splash-description {
  font-size: 1.2em;
}

::placeholder {
  position: relative;
  bottom: 2px;
  color: #576574;
  font-size: 0.7em;
}

.content-section {
  margin-top: 0.625em;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.content-section .fa-book {
  font-size: 2.375em;
  color: #F97F51;
}

.fa {
  margin-bottom: 1.875em;
}

.navbar-nav .nav-item .nav-link {
  color: #F97F51;
  font-size: 0.875em;
  position: relative;
  margin: 0 !important;
  top: 0.250em;
  font-family: 'Roboto', sans-serif;
}

.navbar-nav {
  margin-top: 0.313em;
}

.hero .fa-search {
    position: relative;
    top: 9.813em;
    left: 10.813em;
    z-index: 1;
}

.dashboard-link {
  position: relative;
  top: 0.563em;
  font-size: 1.000em;
  width: 6.563em;
}

.dashboard-link a {
  color: #f98045;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875em;
  
}

.fa-play-circle {
  margin-bottom: 0;
  width: 0%;
  position: relative;
  top: 0.688em;
  left: 0.250em;
  padding-right: 0.438em;
}

/*==================================================*/

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-left: 10px;
  border-radius: 1px !important;
  position: relative;
  top: 0px;
  right: 0px;
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }
  
  .footer-content b {
    font-size: 20px;
  }
}


.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  position: relative;
  top: 87px;
  border-radius: 0;
}


.signup-box {
  position: relative;
  top: 136px;
  margin-bottom: 191px;
}